#bkg {
 position:absolute;
 background-color:#eeeeee;
 border:solid 1px #eeeeee;

 margin: 0 auto;
 top: 200px;
 left: 20%;
 height: 460px;
 width: 60%;
 z-index: 1;
}

#myVideo {
 position:absolute;
// background-color:#eeeeee;
// border:solid 1px #eeeeee;

 margin: 0 auto;
 top: 100px;
 left: 28%;
 height: 460px;
 width: 20%;
 z-index: 1;
}
