#log {
 width:40em;
 height:24em;
 margin:.5em 0 .5em 0;
 padding:.5em;
 background-color:#eee;
 white-space:pre;
 font-family:Courier New, monospace;
 font-size:.75em;
 overflow:auto;
}
#sample {
 background-color:#def;
 border:solid 1px #888;
 margin: 0 auto;
}
#body0{
 top: 0px;
 left: 0px;
 overflow-x:hidden;
 overflow-y:hidden;
}
#bkg {
 position:absolute;
 background-color:#333;
 border:solid 1px #eee;
 margin: 0 auto;
 top: 0px;
 left: 0px;
 z-index: 1;
}
#circle {
 position:absolute;
 margin: 0 auto;
 top: 0px;
 left: 0px;
 z-index: 80;
}
#waveshape {
 position:absolute;
 margin: 0 auto;
 top: 0px;
 left: 0px;
 z-index: 90;
}
#line {
 position:absolute;
 margin: 0 auto;
 top: 0px;
 left: 0px;
 z-index: 100;
}
#line2 {
 position:absolute;
 margin: 0 auto;
 top: 0px;
 left: 0px;
 z-index: 110;
}
#pick {
 position:absolute;
 margin: 0 auto;
 top: 0px;
 left: 0px;
 z-index: 140;
}
#spectrum {
 position:absolute;
 margin: 0 auto;
 top: 0px;
 left: 0px;
 z-index: 150;
}
#canvas {
 position: absolute;
 margin: 0 auto;
 border: 1px black solid;
}
#sans { color: black; font-family:sans-serif ;  font-size: 10pt; line-height : 1.5em}
#mono { color: black; font-family:monospace ; font-size: 10pt; line-height : 1.5em}
